button.alert {
    background-color: #F7DC6F;
    color: #212F3D !important;
    border-style: none !important;
    border-radius: 0 !important;
    font-weight: 700;
    transition: all .2s ease-in-out; 
}

button.alert:hover {
    background-color: #F4D03F  !important;
    transform: scale(1.1);
}

button.addAlert {
    background-color: #ABEBC6;
    color: #212F3D !important;
    border-style: none !important;
    border-radius: 0 !important;
    font-weight: 600;
}

.alert_icon {
    color:#FBFCFC !important;
    vertical-align: middle !important
}

option#default {
    background-color: #F9E79F !important ;
}