input.login-input{
    height: 3rem;
    width: 20rem;
    border: 1px solid #D7DBDD;
    border-radius: 2px;
    outline: none;
    font-size: 11pt;
    padding: 5px;
}

input.login-input:focus{
    box-shadow: inset 0 -1px 0 #ddd !important;
    border-bottom: 1.5px solid #FFC107;
    
}