.navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 5px;
    transition: all .3s;
}

.auth-wrapper .signIn:focus {
    border-color: #839192;
    box-shadow: none;
}

.auth-wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.custom-control-label {
    font-weight: 400;
}

.forgot-password, .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

button.login-button {
    background: #27AE60;
    height: 2.5rem;
    width: 16rem;
    border-radius: 2px;
    outline: none;
    font-size: 12pt;
    padding: 5px;
    border: none;
    color: white;
    transition: 0.5s;
}

button.login-button:focus,button.login-button:hover {
    outline: none;
    background: #229954;
}