@media (max-width: 780px) {
    #bg{
        width: 1000px;
    }

    #homeId{
        width: 1000px;
    }
}

#homeId{
    background-color: #f0f0f0;
}

#homePublications{
    display: flex;
    justify-content: center;
}
