#divPublicacoes {
    min-height: 70vh;
}

#card {
    width: 750px;
    margin-left: 12%;
    margin-bottom: 60px;
    background-color: #fcffff;
}

#homecard {
    width: 760px;
    margin-bottom: 60px;
    background-color: #ffff;
}

#pagination {
    margin-left: 40%;
    /*display: flex;
    justify-content: center;*/
}

#assunto {
    color: #2c2c2c;
    font-weight: bold;
    margin-bottom: 4%;
    font-family: sans-serif;
}

#corpo {
    color: #2c2c2c;
    /*font-family: Segoe UI;*/
    text-align: justify;
}

#corpoPreTag {
    font-family: Segoe UI;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/*.carousel{
    width: 300px;
    margin-bottom: 30px;
    margin-left: 28%;
    margin-top: 30px;
}*/

.alertaDownload {
    /*font-weight: bold;*/
    margin-top: 8%;
    font-family: Segoe UI;
    color: #2c2c2c;
}

.inputs {
    margin-bottom: 1.5%;
}

.comments {
    width: 80%;
    margin-left: 6.8%;
    margin-top: -3.5%
}

div.whiteDiv {
    min-height: 80vh !important;
}

.publication-input {
    height: 2.5rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

.publication-input[name="assunto"] {
    width: 40vw !important;
}

.publication-input:focus {
    box-shadow: inset 0 -1px 0 #ddd !important;
    border: 1px solid #555 !important;
}

/*@media (max-width: 780px) {
@media (max-width: 780px) {
    #modalId{
        width: 70%;
        margin-top: 30%;
        margin-left: 5%;
    }
}*/