@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.hov:hover {
    background-color: #D1EEEE !important;
    border: black solid;
    transition: 0.5s;
}

.b1:hover {
    background-color: #28B463 !important;
    transition: 0.5s;
}

.b2:hover {
    background-color: #17A589 !important;
    transition: 0.5s;
}

div.styled {
    background-color: #D4E6F1 !important;
}

div.colored {
    margin-right: 30px;
}

a.decoration {
    text-decoration: none !important;
    margin-top: 4px;
}

div.borderStyle {
    border-radius: 0.2em;
    background-color: #F2F3F4;
    cursor: pointer;
    height: 5vh;
    transition: all .2s ease-in-out;
}

button.att-button {
    box-shadow: none;
    border: none;
}

div.borderStyle:hover {
    background-color: #D5D8DC;
    transform: scale(1.01);
}

div.notRead {
    background-color: #85a9c2;
}

@media (max-width: 30em) {
    .hov {
        width: 30em;
    }
    div.borderStyle {
        height: 20vh;
    }
}

/*NEW*/

input.inbox-searchInput {
    height: 2.5rem;
    width: 30rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

input.inbox-searchInput:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #555;
}

h6.totalMail-inbox {
    font-weight: 450 !important;
    font-size: 0.8rem !important;
    color: #239B56;
}

.cardHeight-inbox {
    min-height: 85vh;
}

tr.unread-inbox {
    background: #D5DBDB;
    font-weight: 500;
}

h5.title-single-message {
    color: #3498DB;
}

.title-icons {
    color: #5D6D7E;
}

.arrowLeft:hover, .share:hover, .trash:hover {
    color: #3498DB;
    transform: scale(1.2);
}

.inbox-pagination {
    font-size: 10.5pt;
    color: #2c2c2c;
}

.inbox-pagination-button:hover {
    color: #3498DB;
    cursor: pointer;
}

pre.message-body {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    text-align: justify !important;
    font-family: 'Roboto', sans-serif;
    font-size: 11.5pt;
    background-color: #F4F6F7;
    padding: 10px;
}

span.backIcon:hover {
    transform: scale(1.2);
    background-color: #E5E7E9;
}

span.backBotton {
    color: #616A6B;
    cursor: pointer;
    font-weight: 500;
}

.forwardIcon {
    transition: all .3s ease-in-out;
}

.forwardIcon:hover {
    transform: scale(1.5)
}

div.main {
    height: 75vh;
}

div.secondary {
    height: 65vh;
}

.margin {
    margin-left: 15px;
    margin-right: 15px;
}

div.inbox-tab {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

div.inbox-tab div {
    height: 2rem;
    flex-grow: 1;
    display: flex;
    align-items: center !important;
    justify-content: center;
    background: #F7F9F9;
    color: #99A3A4;
    transition: 0.3s;
}

.active {
    background: #5DADE2 !important;
    color: #FFF !important;
    border-bottom: 1.5px solid #AED6F1;
}

.company-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: #616A6B;
}

.company-card> div {
    align-self: center;
    justify-self: center;
    margin: 1rem 15px 0 0;
    background: #FBFCFC  ;
    padding: 0.2rem;
    width: 10rem;
    border-radius: 5px;
    border-style: none;
    border-width: 0.02px;
    border-color: none;
    box-shadow: 0 0 5px #B3B6B7;
    -moz-box-shadow: 0 0 5px #B3B6B7;
    -webkit-box-shadow: 0 0 5px #B3B6B7;
    -o-box-shadow: 0 0 5px #B3B6B7;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.company-card>div:hover {
    transform: scale(1.01);
    background: #ECF0F1;
}

.company-card>div h6 {
    font-weight: normal;
    font-size: 11.5pt;
}

.company-card>div h6+h6 {
    color: #2ECC71;
}

@media (max-width: 1200px) {
    div.borderStyle {
        height: 15vh;
    }
}
