.hover {
    border-style: none !important; 
    transition: all .1s ease-in-out;
    min-width: 10rem;
}

.hover:hover { 
    background-color: #3498DB !important;
    transform: scale(1.02)
}

.trashStyle {
    transition: all .2s ease-in-out;
}

.trashStyle:hover { 
    transform: scale(1.3)
}

input.color {
    background-color: #F2F3F4   !important;
    border-style: none !important;
}


button.add {
    box-shadow: none !important;
    background-color: #2ECC71;
}

button.add:hover {
    background-color: #229954 !important;
    transition: 0.8s !important;
}

input.searchInput-groups {
    height: 2.5rem;
    width: 30rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

input.searchInput-groups:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #555;
}

@media (max-width: 576px){
    .hover{
        margin-top: 10px;
    }
    div.borderStyle {
        height: 20vh;
    }
}