.navbar {
    /*position: fixed;
    z-index: 999;*/

    padding: 15px 10px;
    background: /*#F4F3EF*/#ffffff !important;
    /*border-bottom: solid 1px #D5D8DC;*/
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    grid-column-start: 1; 
    height: 60px;
}

i.normalFont {
    font-style: normal !important;
    font-weight: 350;
    color: #616A6B;
    font-size: 1.3rem;

}

.menuIcon {
    font-weight: 100;
}

.menuIcon:hover {
    transform: rotate(180deg);
  }