div.whiteDiv {
    min-height: 80vh !important;
}

h4.title-register {
    color: #5D6D7E !important;
}

Card.styledCard {
    box-shadow: 10px 10px !important;
}

input.color {
    background-color: #F2F3F4 !important;
    border-style: none !important;
}

form.admin-register {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

div.admin-name-last {
    display: flex;
    grid-column: 1/3
}

div.admin-email {
    margin-bottom: 0;
    grid-column: 1/4;
}

div.important-info {
    display: flex;
    align-items: center;
}

div.important-info p {
    font-size: 9pt;
    color: #3498DB;
}

div.admin-save {
    grid-column: 2/3;
    justify-self: end;
}

.register {
    height: 2.5rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

.register:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #555;
}

div.email-alert {
    height: 0.5px;
    align-self: start;
    font-size: 10pt;
    margin: 0;
}

div.password-alert {
    height: 0.5px;
    font-size: 11pt;
    grid-column: 1/3;
}

tr.admin-list {
    background: #F7F9F9;
    cursor: pointer;
    margin: 500px !important;
}

tr.admin-list:hover {
    background: #F2F3F4;
}

.table-admin {
    border-collapse: separate;
    border-spacing: 0 5px;
    overflow: auto;
}
