.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    
}

#buttonPub{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: end;
}

/*#combo{
    width: 60%;
    min-width: 100px;
}

#searchBox{
    min-width: 100px;
}*/

/*TABLE ROWS*/

/*.linha:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 1px 5px, inset rgba(219, 223, 224, 0.15) 0px -10px 20px;
}*/

h1.dashboard-greeting-title {
    font-size: 30pt;
    color: #2874A6
}

div.dashboard-card {
    border-radius: 10px !important;
    background:white;
    border-style: none;
    border-width: 0.02px;
    border-color: none;
    padding: 15px;
    box-shadow: 0 0 10px #B3B6B7 ;
    -moz-box-shadow: 0 0 10px #B3B6B7 ;
    -webkit-box-shadow: 0 0 10px #B3B6B7 ;
    -o-box-shadow: 0 0 10px #B3B6B7 ;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

div.dashboard-card:hover {
    transform: scale(1.05);
}

h4.card-title {
    color: #616A6B;
}

p.dashboard-card-description {
    font-size: 10pt;
    margin-top: 1rem;
}

hr.dashboard {
    width: 12rem;
    height: 0.5px;
    color: #D5D8DC;
    box-shadow: 0 0 5px #D6EAF8;
}

.dashboard-link {
    color:inherit;
}

.dashboard-link:hover {
    text-decoration: none;
    color:inherit;
}


