button#cancelButton, button#successButton { 
    transition: all .2s ease-in-out; 
}

button#cancelButton:hover {
    background-color: #CB4335 !important;
    transform: scale(1.1);
}

button#successButton:hover {
    background-color: #229954 !important;
    transform: scale(1.1);
}
