a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#logo{
    height: 95px;
    margin-left: 20%;
}

.sideIcons{
    margin-right: 6%;
}

.dropdownItems{
    list-style: none;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #3b6186;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px 0px 20px 0px;
    background: #3b6186;
}

#sidebar ul.components { 
    border-bottom: 1px solid #45719c;
}

#sidebar ul li{
    border-top: 1px solid #45719c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    background: #3b6186;
    font-family:sans-serif;
}

#sidebar ul li a:hover {
    color: #3b6186;
    background: #b9cff0;
    text-decoration: none;
}

#sidebar ul li a:focus {
    color: #3b6186;
    background: #b9cff0;
    text-decoration: none;
}

/*#sidebar ul li.active>a {
    color: #3b6186;
    background: #b9cff0;
    text-decoration: none;
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}


/*-------------------------------------------------------------
Div Content on toggle button click
--------------------------------------------------------------*/

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content1 {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/*#content.active {
    width: 100%;
}*/


/* ---------------------------------------------------
    MEDIAQUERIES 
----------------------------------------------------- */

@media (max-width: 680px) {
    
    .show{
        margin-left: -300px;
    }
    
    .hide{
        display: block !important;
    }
    
    #sidebar {
        display: block;
        width: 250px;
        position: fixed;
        top: 5.7em;
        left: 2em;
        height: 70vh;
        z-index: 999;
        background: #3b6186;
        color: #fff;
        transition: all 0.3s;
    }
    
    #logo{
        height: 50px;
        margin-left: 15%;
    }
    
    .sideIcons{
        margin-right: 6%;
    }
    
    .dropdownItems{
        list-style: none;
    }
    
    #sidebar .sidebar-header {
        padding: 15px 0px 15px 0px;
        background: #3b6186;
    }
    
    #sidebar ul.components { 
        border-bottom: 1px solid #45719c;
        width: 250px;
    }
    
    #sidebar ul li{
        border-top: 1px solid #45719c;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        background: #3b6186;
        font-family:sans-serif;
    }
    
    #sidebar ul li a:hover {
        color: #3b6186;
        background: #b9cff0;
        text-decoration: none;
    }

    #sidebar ul{
        list-style: none;
        position: absolute;
        z-index: 999;
    }
/**************************/
    /*#sidebar.active {
        margin-left: 0;
    }*/
    #content {
        width: 100%;
    }
    /*#content.active {
        width: calc(100% - 250px);
    }*/
}