.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #8b8989;
    color: black;
    text-align: center;
    height: 40px;
    padding-top: 4px;
}

.homefooter {
    background-color: #8b8989;
    color: black;
    text-align: center;
    height: 50px;
    padding-top: 4px;
}

/*@media (max-width: 780px) {
    .homefooter{
        width: 1000px;
    }

    .footer{
        width: 1000px;
    }
   
}*/