#notifColum1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;  
}

#info{
    grid-column-start: 1;
    text-align: start;
}

#notifColum2{
    grid-column-start: 2;
    text-align: end;
}

#botaoResponder{
    background-color:#399cbd;
    width: 90px;
    color: #ffffff; 
    cursor: pointer;
}

.paragrafo{
    font-family: Bahnschrift;
}

.labels{
    font-family: Fira Sans, sans-serif; 
    font-weight: 500; 
    font-size: 12pt;
}

#divNotif{
    min-height: 70vh;
}
