div#menuUser{
    display: block;
}

div#menuUser ul{
	list-style: none;
    position: absolute;
    right: /*2.3em*/1em;
	top: /*2.6em*/2.7em;
    width: /*12em*/13em;
    z-index: 999; 
}

#menuUser ul li{
    padding: 9px;
    color: #050505;
    background: #d1dfe0;
}

#menuUser ul li a{
    color: /*#636f75*/ #050505;
}

#menuUser ul :hover {
    background: rgb(245, 244, 244);
    text-decoration: none;
}

/************************************************/
div#notificacoes{
    display: block;
}

div#notificacoes ul{
	list-style: none;
    position: absolute;
    right: 3em;
	top: 2.6em;
    width: 12em;
    z-index: 999;
}

#notificacoes ul li{
    padding: 9px;
    color: #050505;
    background: #d1dfe0;
}

#notificacoes ul li a{
    color: /*#636f75*/ #050505;
}

#notificacoes ul :hover {
    background: rgb(245, 244, 244);
    text-decoration: none;
}
/************************************************/

nav#navHead{
    background:#fff;
    margin-left: -4%;
    margin-top: -3.9%;
    width: 107.9%;
}

i#user{
    text-align: right;
    padding: 1%;
    margin-right: 3%;
}
  
span{
    text-align: right;
    padding: 1%;
}

#username{
    color: #050505;
    font-size: 12pt;
}

nav#navItems{
    display: block;
}

nav#navItems ul{
	list-style: none;
}

nav#navItems li{
	display: inline-block;
    margin-right: 25px;
    color: #3e4b58c7;
}

.ver{
    display: block !important;
}

.esconder{
    display: none !important;
}