@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";
@import url('https://cdn.syncfusion.com/ej2/material.css');

* {
  box-sizing: border-box;
}

/*body {
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}*/


/*h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}*/



body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  background: /*#F4F3EF*/ #fffcfc;
  font-family:  Roboto, Arial, Helvetica, sans-serif !important;
}
