input.colored {
    background-color: #EBF5FB !important;
    border-style: none !important;
}

input[type="text"]:disabled {
    background: #F8F9F9 !important;
}

select:disabled {
    background: #F8F9F9 !important;
}

input.styled-margin {
    margin-left: 8rem !important;
}

button.styled_button {
    color: #17202A ;
    border-style: none !important;
    border-radius: 0 !important;
    font-weight: 400;
}

button.styled_button:hover {
    background-color: #2E86C1 !important;
    transition: 0.5s !important;
}

button.styled_button:focus {
        /*outline: none;*/
        box-shadow: none !important;
}

button.addButton {
    box-shadow: none !important;
    background-color: #2ECC71;
}

button.addButton:hover {
    background-color: #229954 !important;
    transition: 0.8s !important;
}

input.searchInput {
    min-width: 5rem !important;
}


.editIcons { transition: all .2s ease-in-out; }
.editIcons:hover { transform: scale(1.5); }

label#first {
    margin-left: 32% !important;
}

label#second {
    margin-left: 40% !important;
}


label#gender {
    margin-left: 35% !important;
}


label#whatsApp {
    margin-left: 45% !important;
}

label#company {
    margin-left: 52% !important;
}

label#designation {
    margin-left: 52% !important;
}


label#department {
    margin-left: 57% !important;
}

div.whiteDiv {
    min-height: 80vh !important;
}

h4.title-contacts {
    color: #5D6D7E !important;
}

.searchInput-contacts {
    height: 2.5rem;
    width: 30rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

.searchInput-contacts:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #555;
}

.register-contacts {
    height: 2.5rem;
    font-size: 10.5pt;
    border-radius: 2px !important;
}

.register-contacts:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border: 1px solid #555;
}

.edit-contact-label {
    font-size: 10.5pt;
}

.flexed header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"]{
    vertical-align: middle;
    margin: .7rem;
}

